<header class="header trans_300">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_container d-flex flex-row align-items-center trans_300">

                    <!-- Logo -->

                    <div class="logo_container">
                        <a href="#">
                            <div class="logo">
                                <img src="~/assets/images/logo.png" alt="">
                                <span>the estate</span>
                            </div>
                        </a>
                    </div>

                    <!-- Main Navigation -->

                    <nav class="main_nav">
                        <ul class="main_nav_list">
                            <li class="main_nav_item"><a href="#">home</a></li>
                            <li class="main_nav_item"><a href="@Url.Action("About","Home")">about us</a></li>
                            <li class="main_nav_item"><a href="@Url.Action("Index","Property")">listings</a></li>
                            <li class="main_nav_item"><a href="@Url.Action("Index","New")">news</a></li>
                            <li class="main_nav_item"><a href="@Url.Action("Index","Contact")">contact</a></li>
                        </ul>
                    </nav>

                    <!-- Phone Home -->

                    <div class="phone_home text-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>Hello @User.Identity.Name </span>
                            <i class="fas fa-sign-out-alt"></i><a href="@Url.Action("Logout","Account")">Logout</a>
                        }
                        else
                        {
                            <i class="fas fa-sign-in-alt"></i><a href="@Url.Action("Login","Account")">Login</a>
                        }
                    </div>

                    <!-- Hamburger -->

                    <div class="hamburger_container menu_mm">
                        <div class="hamburger menu_mm">
                            <i class="fas fa-bars trans_200 menu_mm"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Menu -->

    <div class="menu menu_mm">
        <ul class="menu_list">
            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="#">home</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="about.html">about us</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="@Url.Action("Index","Property")">listings</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="news.html">news</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="contact.html">contact</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</header>